.none{
    display: none;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    font-family: Gobold, Helvetica, serif;
}

h1{
    display: none;
    text-align: center;
    font-size: 2rem;
}

#loading{
    padding-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.loading{
    position: absolute;
    top:30%;
    right:10%;
}

#grid{
    display: none;
    grid-template-columns: repeat(1,1fr);
    gap: 4rem;
}
.student{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    background-color: blanchedalmond;
    border-radius: 10%;
    padding-top: 25px;
    padding-inline: 20px;
    border: grey 1px solid;
}

.avatar{

    border-radius: 50%;
    width: 50%;
    object-fit: cover;
    border: grey 1px solid;
    align-self: center;
}

.pseudo{
    text-align: center;
    text-decoration: underline grey;
}

.button{
    text-decoration: none;
    color: black;
    border-radius: 10%;
    padding : 10px;
    background-color: burlywood;
    align-self: center;
}